.nav-bar {
  display: flex;
  margin: 0;
  justify-content: center;

  > a {
    display: block;
    padding: 0.4rem 0.3rem;
    color: var(--gray-2);
    font-size: 0.8rem;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;

    &:hover {
      color: var(--white);
    }
  }

  @media (min-width: 40em) {
    > a {
      padding: 0.5rem 0.8rem;
    }
  }
}
