.drink-list {
  width: calc(100vw - 2em);
  margin: 0 auto;
  padding-left: 0;
  list-style-type: none;

  @media (min-width: 30em) {
    max-width: 70em;
    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat(auto-fill, minmax(20em, 1fr));
  }
}

.drink-preview {
  --thumbnail-size: 3em;
  --heading-size: 1rem;
  display: flex;
  align-items: center;
  height: 100%;
  border: 1px solid var(--card-border);
  background: var(--card-bg);
  text-decoration: none;

  &:hover {
    color: var(--white);
  }

  img,
  .svg-wrapper {
    display: block;
    width: var(--thumbnail-size);
    height: var(--thumbnail-size);
    background-size: cover;

    svg {
      height: 100%;
      padding: 1em;
    }
  }
}

.drink-preview__content {
  padding: 1em;
  font-size: var(--heading-size);
  font-family: var(--font-heading);
}

@media (min-width: 30em) {
  .drink-preview {
    --thumbnail-size: 6em;
    --heading-size: 1.2rem;
  }
}
