
.drink-tile {
  display: grid;
  position: relative;
  // height: 0;
  // padding-bottom: 100%;
  // overflow: hidden;

  &:nth-child(1):nth-last-child(1) {
    .drink-tile__image {
      padding-bottom: 31.4%;
    }
  }

  &:nth-child(1):nth-last-child(2),
  &:nth-child(2):nth-last-child(1) {
    .drink-tile__image {
      padding-bottom: 64.7%;
    }
  }
}

.drink-tile__image {
  grid-column: 1;
  grid-row: 1;
  height: 0;
  padding-bottom: 100%;
  overflow: hidden;

  img,
  svg {
    display: block;
    width: 100%;
  }
  svg {
    height: 6em;
    padding: 2em 0.5em 1em;
    color: var(--orange-8);
  }
}

.drink-tile__title {
  position: absolute;
  left: 0;
  right: 0;
  grid-column: 1;
  grid-row: 1;
  align-self: end;
  margin-top: -1.5em;
  padding: 0 0.5em;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 1em;
  font-size: 0.8rem;
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: var(--gray-7);
}
