.centered-wrapper {
  display: flex;
  min-height: $fill-height;
  padding-bottom: 0.5em;
  align-items: center;
  justify-content: center;
}

.drink-card {
  max-width: 40em;
  margin: 1rem;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: $border-radius;
  color: $white;
  background-color: $gray-dark;
  background-image: linear-gradient(to right, hsl(315, 3.2%, 23%), $gray-2);
}

.drink-card__image {
  grid-column: 1;

  > img {
    width: 100%;
    max-height: 30vh;
    border-top-right-radius: $border-radius;
    border-top-left-radius: $border-radius;
    object-fit: cover;
    box-shadow: 0.1em 0.1em 0.3em rgba(0, 0, 0, 0.1);
  }

  + .drink-card__content {
    margin-top: 1em;
  }
}
.drink-card--no-image {
  padding-top: 1em;

  .drink-card__image {
    display: none;
  }
}

.drink-card__content {
  display: flex;
  grid-column: 2;
  flex-direction: column;
  padding: 0 1em 1em;

  .e-instructions {
    flex-grow: 1;
  }
}

@media (min-width: 30em) {
  .drink-card {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr 1.62fr;
    margin: 3rem 1rem;
    padding: 1em 1em 1em 2em;
  }

  .drink-card--no-image .drink-card__image {
    display: block;
  }

  .drink-card__image {
    > img {
      width: calc(100% + 5rem);
      max-height: initial;
      margin-top: -3rem;
      margin-left: -5rem;
      border-radius: $border-radius;
    }

    + .drink-card__content {
      margin-top: 0;
    }
  }

  .drink-card__content {
    padding: 0;
  }
}

@media (min-width: 40em) {
  .drink-card {
    grid-gap: 2rem;
    padding: 1em 2em;
  }

  .drink-card__image > img {
    min-height: 15em;
  }
}

.card-title {
  position: relative;
  margin-top: 0;
  color: $white;
  font-weight: normal;
  font-size: 1.8rem;
  line-height: 1.1;

  &::after {
    position: absolute;
    bottom: -0.5em;
    left: 0;
    content: '';
    width: 3em;
    /* stylelint-disable-next-line unit-whitelist */
    height: 4px;
    background-color: $brand-primary;
  }

  @media (min-width: 35em) {
    font-size: 2.6rem;
  }
}

.recipe-intro {
  color: $gray-7;
}

.recipe-intro + .ingredients {
  margin-top: 1em;
  border-top: 1px solid $gray-4;
}

.ingredients {
  margin-top: 0.3em;
  padding: 0.5em 0.5em 0.5em 1.5em;
  border-bottom: 1px solid $gray-4;
  font-style: italic;
  list-style-type: none;

  > li {
    position: relative;

    &::before {
      position: absolute;
      top: 0.15em;
      left: -0.9em;
      content: '\2022 ';
      color: $brand-primary;
      line-height: 1;
    }
  }
}

.garnish {
  margin: 0;
  color: $gray-4;
  font-size: 0.8rem;
  font-weight: bold;
  font-family: $font-heading;
}
.ingredients + .garnish {
  margin-top: -0.7rem;
}
.garnish + .ingredients {
  margin-top: 0;
}

.publish-date {
  margin-top: 2rem;
  color: $gray-6;
  font-size: 0.8rem;
}
