.home-tiles {
  padding: 1em;
  display: flex;
  flex-direction: column;

  > * + * {
    margin-top: 0.7em;
  }
}

.home-tile {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 2 1 auto;
  padding: 0.3em 0.5em;
  border: 1px solid var(--card-border);
  border-radius: var(--border-radius);
  background-color: var(--card-bg);
  text-align: center;
  text-decoration: none;

  &:hover {
    color: var(--white);
    border-color: var(--white);
  }
}

.home-tile--main {
  flex-grow: 3;
}

.home-tile--about {
  flex: 0 0 auto;
}
