.home-tiles {
  --gap-size: 0.6em;
  padding: 1em 1em calc(1em - var(--gap-size));
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 2fr;
  grid-template-rows: 3fr 1fr 1fr auto 30vw auto 30vw;

  > * {
    margin-bottom: var(--gap-size);
  }

  @media(min-width: 600px) {
    grid-template-rows: 3fr 1fr 1fr auto 170px auto 170px;
  }

  @media(min-width: 800px) {
    margin: 0 auto;
    width: 800px;
  }
}

.home-tile {
  grid-column: 1 / -1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 2 1 auto;
  padding: 0.3em 0.5em;
  border: 1px solid var(--card-border);
  border-radius: var(--border-radius);
  background-color: var(--card-bg);
  text-align: center;
  text-decoration: none;

  &:hover {
    color: var(--white);
    border-color: var(--white);
  }
}
