.home-tiles {
  min-height: var(--fill-height);
  padding: 1em;
  display: flex;
  flex-direction: column;

  > a {
    flex: 2 1 auto;
    padding: 0.3em 0.5em;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: var(--border-radius);
    background-color: var(--dark-gray);
    text-align: center;
    text-decoration: none;

    &:hover {
      color: var(--white);
      border-color: var(--white);
    }
  }

  > * + * {
    margin-top: 0.7em;
  }
}

a.home-tiles__main {
  flex-grow: 3;
}

a.home-tiles__about {
  flex: 0 0 auto;
}
