.logo > a {
  padding: 0.3rem;
  color: $gray-3;
  font-size: 1.6rem;
  font-family: $font-heading;
  text-decoration: none;
  white-space: nowrap;

  &:hover {
    color: $white;
  }

  > svg {
    height: 3rem;
    padding: 0.2em;
    vertical-align: -0.75em;
  }
}

@media (max-width: 30em) {
  .logo {
    flex-basis: 100vh;
    margin: 0 auto;
    padding-left: 0;
    text-align: center;

    > svg {
      padding-left: 0;
    }
  }
}
