.nav-bar {
  display: flex;
  margin: 0;
  justify-content: center;

  > a {
    display: block;
    padding: 0.5rem 0.8rem;
    font-size: 0.8rem;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;

    &:hover {
      color: $white;
    }
  }
}
