
.drink-tile {
  display: grid;
  position: relative;
  overflow: hidden;
  border: 1px solid var(--card-border);
  border-radius: var(--border-radius);
  background-color: var(--card-bg);

  &:hover {
    color: var(--white);
    border-color: var(--white);
  }

  &:nth-child(1):nth-last-child(1) {
    .drink-tile__image {
      padding-bottom: 31.4%;
    }
  }

  &:nth-child(1):nth-last-child(2),
  &:nth-child(2):nth-last-child(1) {
    .drink-tile__image {
      padding-bottom: 64.7%;
    }
  }
}

.drink-tile--triple {
  grid-column: span 1;
  margin-right: calc(var(--gap-size) / 2);

  & + .drink-tile--triple {
    grid-column: span 2;
    margin-left: calc(var(--gap-size) / 2);

    & + .drink-tile--triple {
      grid-column: span 1;
      margin-right: 0;
    }
  }
}
.drink-tile--double {
  grid-column: span 2;
  margin-right: calc(var(--gap-size) / 2);
  margin-left: 0;

  & + .drink-tile--double {
    margin-right: 0;
    margin-left: calc(var(--gap-size) / 2);
  }
}
.drink-tile--single {
  grid-column: span 4;
}

.drink-tile__image {
  grid-column: 1;
  grid-row: 1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  img,
  svg {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
  }
  svg {
    height: 6em;
    padding: 2em 0.5em 1em;
    color: var(--orange-8);
  }
}

.drink-tile__title {
  position: absolute;
  left: 0;
  right: 0;
  grid-column: 1;
  grid-row: 1;
  align-self: end;
  margin-top: -1.5em;
  padding: 0 0.5em;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 1em;
  font-size: 0.8rem;
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: var(--gray-7);
}
