html {
  min-height: 100vh;
}

body {
  margin: 0;
  color: $white;
  background-repeat: no-repeat;
  background-color: $gray-dark;
  background-image: url(/static/images/paisley-left.svg);
  background-size: 500px;
  background-position: left bottom;
  background-repeat: no-repeat;
  font-family: $font-body;
  font-weight: 300;
  line-height: 1.5;
  overflow-x: hidden;
}

a {
  color: $brand-primary;
  font-weight: 400;
  transition: color 0.2s linear;
  text-decoration-color: $white;
}
a:hover {
  color: $orange-6;
  transition: none;
}
a:active {
  color: $orange-5;
}

h1,
h2,
h3 {
  color: $gray-4;
  font-family: $font-heading;
  font-weight: 400;
}

* {
  box-sizing: border-box;
}

:focus {
  outline: 3px solid hsla(var(--orange-hue), 85%, 70%, 0.7);
}
