body {
  margin: 0;
  color: $white;
  background-color: $gray-dark;
  background-image: linear-gradient(
    to bottom,
    $brand-primary,
    $brand-primary 40vh,
    $gray-dark 40vh
  );
  background-repeat: no-repeat;
  font-family: $font-body;
}

a {
  color: $gray-3;
  transition: color 0.2s linear;
  text-decoration-color: $brand-primary;
}
a:hover {
  color: $orange-6;
  transition: none;
}
a:active {
  color: $orange-5;
}

h1,
h2,
h3 {
  font-family: $font-heading;
  color: $gray-4;
}
